{% extends "base.html" %}
{% load i18n %}

{% block content %}
<td valign="top" align="left">
	    Kui teie auto kere vajab remonti ja te tahate kiirelt ja kvaliteetselt seda taastada,
	    pöörduge <a href="kontakt.php">meie juurde</a>.<br><br>
	    Hindame kahju suurust ning teeme kahjukäsitlejatele taastamise kalkulatsiooni.<br><br>
		Kasutame järgnevate firmade materialid:<br>
      <a href="http://www2.dupont.com">Du Pont</a>, Sikkens, Lesonal, Roberlo, INDASA, 3M, MIRKA, SOUDAL, Wurth, Presta, Malco, Hagmans
</td>  
<td width="30"></td>
<td valign="top" align="left">
      Meie ettevõte töötab alates 1993 aastast. Oleme parandanud selliseid vigastusi mida keegi teine ei ole suutnud teha.<br>
	<br><b>Auto kere taastamistööd</b> (<a href="hind.php">vaata hinda</a>):<br>
      <img src="http://127.0.0.1:8000/static/siteimg/arrow.gif">Auto kere geomeetriline taastamine.<br>
      <img src="http://127.0.0.1:8000/static/siteimg/arrow.gif">Keevitus ja rihtimistööd.<br>
      <img src="http://127.0.0.1:8000/static/siteimg/arrow.gif">Detailide värvimiseks ettevalmistamine.<br>
      <img src="http://127.0.0.1:8000/static/siteimg/arrow.gif">Vigastatud või B-kategooria elementide konserveerimine.<br>
      <img src="http://127.0.0.1:8000/static/siteimg/arrow.gif">Värvimine, poleerimine.<br>
      <img src="http://127.0.0.1:8000/static/siteimg/arrow.gif">Plastmassdetailide remont.<br>
      <img src="http://127.0.0.1:8000/static/siteimg/arrow.gif">Vedrustus.<br>
      <img src="http://127.0.0.1:8000/static/siteimg/arrow.gif">Elektritööd.
</td>
{% endblock %}
